@model IEnumerable<SliderVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h2 class="text-center">Sliders</h2>

    @if (!Model.Any())
    {
            <div class="create-operation">
                <a asp-action="Create" class="btn btn-success text-white btn-sm"><i class="ti-plus"></i> Create</a>
            </div>
    }

    <div class="card">
        <div class="header"></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    <img src="~/admin/assets/images/@item.Image" 
                                         alt="Alternate Text" style="width:100px; height:100px" />
                                </td>
                                <td>
                                    <textarea rows="4" cols="50" readonly style="resize:none;">
                                    @item.Title
                                    </textarea>
                                </td>
                                <td>
                                    <textarea rows="4" cols="50" readonly style="resize:none;">
                                    @item.Description
                                    </textarea>
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id" 
                                       class="btn btn-primary text-white btn-sm"><i class="ti-info"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" 
                                       class="btn btn-warning text-white btn-sm"><i class="ti-pencil"></i></a>
                                    <form class="d-inline" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger text-white btn-sm">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
